<div id="main">

  <div class="box alt container">
    <section class="feature left">
      <div href="#" class="image"><%= image_tag "meglet_truck.png" %></div>
      <div class="content">
        <h3>Gravel Provision</h3>
        <p>Whether you’re a DIY garden buff, a commercial landscaper, or building a Meglet Transport can provide the
          landscape supplies you need. We provide everything from sand and gravel, to roadbase and quarry products.
          <br>Contact our office to get a quote.</p>
      </div>
    </section>
    <div class="box container">
      <section>
        <header>
          <h3>Landscape Supply</h3>
          <h3>Driveway Material</h3>
          <h3>Road Crush</h3>
          <h3>Sand & Gravel</h3>
          <h3>Drain Rock</h3>
          <h3>Top Soil</h3>
          <h3>Pit Run</h3>
          <h3>Bark & Mulch</h3>
        </header>
      </section>
    </div>
    <section class="feature right">
      <a href="#" class="image icon"><%= image_tag "excavation.png", alt: 'Meglet Transport Excavation Services Image' %></a>
      <div class="content">
        <h3>Excavation Services</h3>
        <p>With the right equipment you can move mountains... And we have it. From land clearing to back filling, we can
          do it all.</p>
      </div>
    </section>
    <div class="box container">
      <section>
        <header>
          <h3>Land Clearing</h3>
          <h3>Building Preparation</h3>
          <h3>Stump Removal</h3>
        </header>
      </section>
    </div>
  </div>


  <div class="box container">
    <header>
      <h2>Our Story</h2>
    </header>
    <section>
      <header>
        <h3>Meglet Transportation and Excavation</h3>
        <p>Providing for the Qualicum area, Central Vancouver Island, Fanny Bay, Union Bay and surrounding areas.</p>
      </header>
      <p>Meglet Transport is a fully insured, proudly locally owned and operated business servicing the Qualicum Area as
        well as the greater surrounding regions. We take great pride in providing quality delivery services for any
        project need, on time and on budget and the satisfied customers behind us speak for themselves.
        <br>
        <br>
        We can deliver high quality materials direct to your site. Supplying sand, gravel, pit run, top soil, bark
        mulch, landscaping stones and much more; just get in touch<!doctype html>
        <html lang="en">
        <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
          <meta http-equiv="X-UA-Compatible" content="ie=edge">
          <title>Document</title>
        </head>
        <body>
        
        </body>
        </html>
    </section>
    <section>
    </section>
  </div>


  <!--  <footer class="major container medium">-->
  <!--    <h3>Get shady with science</h3>-->
  <!--    <p>Vitae natoque dictum etiam semper magnis enim feugiat amet curabitur tempor orci penatibus. Tellus erat mauris-->
  <!--      ipsum fermentum etiam vivamus.</p>-->
  <!--    <ul class="actions special">-->
  <!--      <li><a href="#" class="button">Join our crew</a></li>-->
  <!--    </ul>-->
  <!--  </footer>-->

</div>

<br> <br><br>