

<!-- Main -->
<div id="main">

  <header class="major container medium">
    <h2>
      <a href="#" class="icon fa-phone"><span class="label"></span> Mobile: 250-228-2894</a>
    </h2>
    <h2>
      <a href="#" class="icon fa-building"><span class="label"></span> Office: 778-424-9599</a>
    </h2>
    <p>
      PROVIDING SAND, GRAVEL, LANDSCAPING MATERIAL, ROAD CRUSH AND MORE TO THE QUALICUM AREA, FANNY BAY, UNION BAY,
      PARKSVILLE, NANAIMO AND BEYOND
    </p>
  </header>

  <div class="box alt container">
    <section class="feature left">
      <div href="#" class="image"><%= image_tag "meglet_truck.png" %></div>
      <div class="content">
        <h3>Hauling & Excavation Services</h3>
        <p>Moving all kinds of equipment and material all over Central Vancouver Island. With the right equipment you
          can move mountains... And we have it. From land clearing to back filling, we can
          do it all.</p>
      </div>
    </section>
    <div class="box container">
      <section>
        <header>
          <h3>Gravel Provision & Delivery</h3>
          <h3>Excavation Services</h3>
          <h3>Road Construction</h3>
          <h3>Landscape Supply</h3>
          <h3>Building Preparation</h3>
          <h3>Land Clearing</h3>
          <h3>Demolition and Removals</h3>
        </header>
      </section>
    </div>
    <!--    <section class="feature right">-->
    <!--      <a href="#" class="image icon"><%#= image_tag "pic02.jpg" %></a>-->
    <!--      <div class="content">-->
    <!--        <h3>Excavating</h3>-->
    <!--        <p>With the right equipment you can move mountains... And we have it. From land clearing to back filling, we can-->
    <!--          do it all.</p>-->
    <!--      </div>-->
    <!--    </section>-->
    <!--    <div class="box container">-->
    <!--      <section>-->
    <!--        <header>-->

    <!--        </header>-->
    <!--      </section>-->
    <!--    </div>-->
  </div>


  <div class="box container">
    <header>
      <h2>About Us</h2>
    </header>
    <section>
      <header>
        <h3>Meglet Transportation and Excavation</h3>
        <p>Serving Central Vancouver Island, the Qualicum area, Fanny Bay, Union Bay and beyond.</p>
      </header>
      <p>Meglet Transport is a locally owned business operating in the Qualicum Area, providing quality delivery
        services for any project need, on time and on budget. The years of experience and satisfied customers behind us
        speak for themselves.
        <br>
        <br>
        We can deliver high quality materials direct to your site. Supplying sand, gravel, pit run, top soil, bark
        mulch, landscaping stones and much more; just get in touch!
    </section>
    <!--    <section>-->
    <!--      <header>-->
    <!--        <h3>Unordered List</h3>-->
    <!--      </header>-->
    <!--      <ul class="default">-->
    <!--        <li>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor-->
    <!--          sagittis lorem, quis eleifend nisi ornare vel.-->
    <!--        </li>-->
    <!--        <li>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor-->
    <!--          sagittis lorem, quis eleifend nisi ornare vel.-->
    <!--        </li>-->
    <!--        <li>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor-->
    <!--          sagittis lorem, quis eleifend nisi ornare vel.-->
    <!--        </li>-->
    <!--        <li>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor-->
    <!--          sagittis lorem, quis eleifend nisi ornare vel.-->
    <!--        </li>-->
    <!--      </ul>-->
    <!--    </section>-->
    <section>
      <!--      <header>-->
      <!--        <h3>Form</h3>-->
      <!--      </header>-->
      <!--      <form method="post" action="#">-->
      <!--        <div class="row">-->
      <!--          <div class="col-6 col-12-mobilep">-->
      <!--            <label for="name">Name</label>-->
      <!--            <input class="text" type="text" name="name" id="name" value="" placeholder="John Doe"/>-->
      <!--          </div>-->
      <!--          <div class="col-6 col-12-mobilep">-->
      <!--            <label for="email">Email</label>-->
      <!--            <input class="text" type="text" name="email" id="email" value="" placeholder="johndoe@domain.tld"/>-->
      <!--          </div>-->
      <!--          <div class="col-12">-->
      <!--            <label for="subject">Subject</label>-->
      <!--            <input class="text" type="text" name="subject" id="subject" value="" placeholder="Enter your subject"/>-->
      <!--          </div>-->
      <!--          <div class="col-12">-->
      <!--            <label for="subject">Message</label>-->
      <!--            <textarea name="message" id="message" placeholder="Enter your message" rows="6"></textarea>-->
      <!--          </div>-->
      <!--          <div class="col-12">-->
      <!--            <ul class="actions special">-->
      <!--              <li><input type="submit" value="Send"/></li>-->
      <!--              <li><input type="reset" value="Reset" class="alt"/></li>-->
      <!--            </ul>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </form>-->
    </section>
  </div>


  <!--  <footer class="major container medium">-->
  <!--    <h3>Get shady with science</h3>-->
  <!--    <p>Vitae natoque dictum etiam semper magnis enim feugiat amet curabitur tempor orci penatibus. Tellus erat mauris-->
  <!--      ipsum fermentum etiam vivamus.</p>-->
  <!--    <ul class="actions special">-->
  <!--      <li><a href="#" class="button">Join our crew</a></li>-->
  <!--    </ul>-->
  <!--  </footer>-->

</div>
